<section class="">
<h3>
    {{username}} <input type="checkbox" class="form-check-input" id="employeeAddCheck">
    <label class="form-check-label" for="employeeAddCheck">Text for the checkbox</label>
  </h3>
</section>
