<section>
  <p class="my-2 py-1 ps-1 list-group-item rounded justify-content-left d-flex">
    {{!-- Checkbox with value of employee id --}}
    <input type="checkbox" class="mx-2 form-check-input" id="employeeAddCheck" value="{{id}}">
    {{!-- Employee username --}}
    <label class="form-check-label" for="employeeAddCheck">{{username}} </label>
  </p>
</section>