<section>
  {{!-- Link to the project by id --}}
  <a class="text-decoration-none" href="/project/{{id}}">
  {{!-- Project name --}}
    <div class="list-group-item flex-wrap col border border-dark rounded my-2 mx-2 p-2 text-center project-btn">{{name}}
    </div>
  </a>
</section>