<section>
 
    <div class="row">
  <h2 class="mt-3 mb-4 text-center">All Company Projects</h2>
  <div class="col-sm bg-dark border border-dark rounded my-2 mx-2 p-2"></div>
  <div>
    
    {{#if projects.length}}
    {{#each projects as |project|}}
    {{> project-list}}
    {{/each}}
    {{else}}
    <p>The company is not working on any projects.</p>
    {{/if}}
  </div>
     <div class="row">
  <h4 class="mt-3 mb-4 text-center">All Managers</h4>
  <div class="col-sm bg-dark border border-dark rounded my-2 mx-2 p-2"></div>
  
  <div>
    {{#if employees.length}}
    {{#each managers as |manager|}}
    {{> employee-list}}
    {{/each}}
    {{else}}
    <p>The company has no managers.</p>
    {{/if}}
  </div>
  
    <div class="row">
 <h4 class="mt-3 mb-4 text-center">All Employees</h4>
 <div class="col-sm bg-dark border border-dark rounded my-2 mx-2 p-2"></div>
  <div>
    {{#if employees.length}}
    {{#each employees as |employee|}}
    {{> employee-list}}
    {{/each}}
    {{else}}
    <p>The company has no employees.</p>
    {{/if}}
  </div>

</section>

