<section>
 
  <h2 class="mt-4 mb-2 text-center">All Company Projects</h2>
  <div class="col-sm bg-dark border border-dark rounded mt-2 mb-3 mx-2 p-1">
  </div>

  <div class="d-flex flex-row justify-content-center">
    {{#if projects.length}}
    {{#each projects as |project|}}
    {{> project-list}}
    {{/each}}
    {{else}}
    <p>The company is not working on any projects.</p>
    {{/if}}
  </div>


  <h3 class="mt-5 mb-2 text-center">All Managers</h3>
  <div class="col-sm bg-dark border border-dark rounded mt-2 mb-3 mx-2 p-1">
  </div>


  <div class="d-flex flex-row justify-content-center">
    {{#if employees.length}}
    {{#each managers as |manager|}}
    {{> employee-list}}
    {{/each}}
    {{else}}
    <p>The company has no managers.</p>
    {{/if}}
  </div>
  
 <h3 class="mt-5 mb-2 text-center">All Employees</h3>

 <div class="col-sm bg-dark border border-dark rounded mt-2 mb-3 mx-2 p-1">
  </div>

  <div class="d-flex flex-row justify-content-center">
    {{#if employees.length}}
    {{#each employees as |employee|}}
    {{> employee-list}}
    {{/each}}
    {{else}}
    <p>The company has no employees.</p>
    {{/if}}
  </div>

</section>

