@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&family=DM+Sans:wght@400;500;700&display=swap');

/* :root {
  --header: red;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", "DM Sans", sans-serif;
}

.headerLogo {
  height: 30px;
}

.btn-color {
background-color: red;
color: white;
}

.btn-color:hover {
  background-color: aqua;
}

.project-btn {
  font-weight: 600;
  box-shadow: 2px 2px 2px #000;
}