/* import Google font */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&family=DM+Sans:wght@400;500;700&display=swap");

/* root variables for quick style changes */
:root {
  --body-background: #fff;
  --project-btn: hsl(212, 51%, 85%);
  --project-btn-hover: hsl(212, 51%, 75%);
  --employee-btn: hsl(212, 51%, 85%);
  --employee-btn-hover: hsl(212, 51%, 75%);
  --col-background: hsl(212, 51%, 85%);
  --btn-color: hsl(212, 51%, 31%);
  --btn-color-hover: hsl(212, 51%, 16%);
}

/* reset margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", "DM Sans", sans-serif;
  background-color: var(--body-background);
}

.headerLogo {
  height: 30px;
}

.btn-color {
  background-color: var(--btn-color);
  color: white;
  border: none;
  padding: 6px 12px;
}

.btn-color:hover {
  background-color: var(--btn-color-hover);
  color: white;
}

.project-btn {
  font-weight: 600;
  box-shadow: 2px 2px 2px #222629;
  background-color: var(--project-btn);
}

.project-btn:hover {
  background-color: var(--project-btn-hover);
}

.employee-btn {
  box-shadow: 2px 2px 2px #222629;
  background-color: var(--employee-btn);
}

.employee-btn:hover {
  background-color: var(--employee-btn-hover);
}

.col-color {
  background-color: var(--col-background);
}

.column-top {
  margin: 6px;
}

.hover-white:hover {
  color: #fff;
}

.fa-trash-alt:hover {
  color: #aaa;
}

.employee-on-project:hover {
  background-color: #ddd;
}

.profileImg {
  box-shadow: 0px 0px 8px #223;
}
